body {
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-family: 'EB Garamond', serif;
}

h1 {
    margin: 0px 0px 0px 0px;
    font-family: 'Noto Serif Display', serif;
    color: white;
    ;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: #F05454;
}

h3 {
    font-family: 'Poppins', sans-serif;
    color: #F05454;
}

.top-container {
    background-color: #30475E;
    position: relative;
    padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    bottom: 150px;
    left: 300px;
}

.mountain {

}

#problem-solver {
    color: #F05454;
}